{% extends 'event/base.html' %}

{% block title%}
    پایان ثبت نام
{% endblock %}


{% block nav %}
    {% include 'event/nav.html' %}
{% endblock %}


{% block article %}
    <div class="article-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 register-head full-view">
                        <h2>
                            تبریک!  <br><br>
                            ثبت نام شما با موفقیت به پایان رسید.    
                        </h2>
                        <p><br><br>
                            مشخصات شما در سیستم ثبت شد.
                            
                        </p>
                        <p><br>
                            <a href="{% url 'event:index' %}" class="btn btn-info">بازگشت به صفحه اصلی</a>
                        </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'event/footer.html' %}
{% endblock %}