{% if event %}
    <p>
        <h2>
            {{ event.name }}
        </h2>
        <p>
        موقعیت : {{ event.location }}
        </p>
        <p>
            زمان : {{ event.date }} - {{ event.duration }} روزه
        </p>
        <p>
            هزینه : {{ event.price }} تومان
        </p>
        {% if event.desc %}
            <p>
                <h4>
                    توضیحات
                </h4>
                {{ event.desc}}
            </p>
        {% endif %}

        <img src="{{ event.pic.url }}" alt="{{ event.name }}">

    </p>
{% else %}
    <p>
        not Event found
    </p>
{% endif %}

<hr>
<a href="{% url 'event:index' %}">بازگشت</a>