<div class="footer-social">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <a href="https://instagram.com/tour.beau/">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://t.me/tourbeau/">
                    <i class="fab fa-telegram fa-2x"></i>
                </a>
            </div>
            
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 footer-box">
            <h3>ارتباط با ما</h3>
            <p>
                <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;
                بابل - خیابان شریعتی - خیابان گل - گل 2 - کافه بُ   <br>
                <i class="fas fa-phone-square"></i>&nbsp;&nbsp;
                09117448583     <br>
                <i class="fas fa-envelope"></i>&nbsp;&nbsp;
                info@tourbeau.ir
            </p>
        </div>
        <div class="col-md-4 footer-box">
            <h3><i class="fas fa-users"></i></h3>
            <p>
                در شبکه های اجتماعی با هشتگ
                we_are_beau
                ما را دنبال کنید.
            </p>
        </div>
        <div class="col-md-4 footer-box">
            <h3><i class="fab fa-git-alt"></i></h3>
            <p>
                این پروژه تحت پروانه ی عمومی همگانی گنو "GNU General Public License v3.0" منتشر شده است.    <br>
                <a href="https://github.com/iamrf/ERS/" class="btn btn-dark">
                    <i class="fab fa-github"></i> مشارکت در پروژه
                </a>
            </p>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="footer-iamrf">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Designed by <a href="https://iamrf.net/">iamrf</a> - All rights reserved <i class="fas fa-copyright"></i> 2018-{% now "y" %}
            </div>
        </div>
    </div>
</div>