<div class="container-fluid main-footer">
    <div class="row">

        <div class="footer col-md-4">
            <div class="footer-box">
                <h3>
                    <i class="fas fa-map-signs"></i>
                </h3>
                <p>
                     بابل- خیابان شریعتی - خیابان گل - گل ۲- کافه بُ
                </p>
                <p>
                    <i class="fas fa-phone-square"></i> 09117448583 <br>
        
                    <i class="fas fa-phone-square"></i> 09119107550 <br>
                </p>
            </div>
        
        </div>
        
        <div class="footer col-md-4">
            <div class="footer-box">
                <h3 class="ltr">
                    <i class="fas fa-hashtag"></i>We_Are_Beau
                </h3>
                <p>
                    <a href="https://instagram.com/tour.beau" class="btn btn-dark">
                        <i class="fab fa-instagram"></i> اینستاگرام
                    </a>
                    <a href="https://t.me/tourbeau" class="btn btn-dark">
                        <i class="fab fa-telegram"></i> کانال تلگرام
                    </a>
                </p>
            </div>
        </div>
        
        <div class="footer col-md-4">
            <div class="footer-box">
                <h3>
                    <i class="fas fa-balance-scale"></i>
                </h3>
                <p>
                    &copy; این پروژه تحت پروانهٔ عمومی همگانی گنو "GNU General Public License v3.0" منتشر شده است.  <br><br>
                    <a href="https://github.com/iamrf/ERS" class="btn btn-dark">
                        <i class="fab fa-github fa-lg"></i>  مشارکت در پروژه
                    </a>
                </p> 
            </div>        
        </div>
    </div>
</div>