{% extends 'event/base.html' %}

{% block title %}
    تور بُ - رویداد ها
{% endblock %}


{% block nav %}
  {% include 'event/nav.html' %}
{% endblock %}


{% block article %}

    {% if events %}         
      <!--    carousel    -->
        {% include 'event/carousel.html' %}
      <!--    End carousel    -->
    {% else %}
      <p>
          <h2>
              متاسفانه هیج رویدادی یافت نشد...
          </h2>
      </p>
    {% endif %}

{% endblock %}


{% block footer %}
  {% include 'event/footer.html' %}
{% endblock %}