{% if event %}
    <p>
        <h2>
            {{ event.date }}
        </h2>
        <p>
        موقعیت : {{ event.location }}
        </p>
        <p>
            زمان : {{ event.date }} - {{ event.duration }} روزه
        </p>
        {% if event.desc %}
            <p>
                <h4>
                    توضیحات
                </h4>
                {{ event.desc}}
            </p>
        {% endif %}
    </p>
{% else %}
    <p>
        not Event found
    </p>
{% endif %}

<a href="{% url 'event:index' %}">بازگشت</a>